body {
  font-family: Arial, Helvetica, sans-serif;;
}

.menu {
  position: relative;
  display: flex;
  
}

h1 {
  text-align: center;
}

@media (min-width:320px) {
  body {
    font-size: 28px;
  }
}

@media (min-width:481px) {
  body {
    font-size: 32px;
  }
}

@media (min-width:641px) {
  body {
    font-size: 36px;
  }
}

@media (min-width:961px) {
  body {
    font-size: 40px;
  }
  
}
@media (min-width:1025px) {
  body {
    font-size: 44px;
  }
}

@media (min-width:1281px) {
  body {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .menu-burger__header {
    position: relative;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: 10px;
  }
}

.menu-burger__header span, .menu-burger__header: after, .menu-burger__header: before{
  height: 3px;
  width: 100%;
  position: absolute;
  background: #515758;
  margin: 0 auto;
}

.menu-burger__headerv span{
  top: 21px;
}

.menu-burger__header: after, .menu-burger__header: before {
  content: '';
}

.menu-burger__header: after {
  bottom: 5px;
}

.menu-burger__header: before {
  top: 5px;
}

.header {
  height: 60px;
}

.menu {
  display: none;
}
